.contacto {
  margin: 0 50px;
  margin-top: 50px;
  height: 75%;

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    img {
      width: 200px;
      height: 200px;
    }
  }

  &__info{
    text-align: center;

    p{
        margin-bottom: 40px;
        font-weight: 600;
    }

    span{
        font-weight: 800;
        font-size: 22px;
        margin-right: 10px;
        color: #ff6b6b;
        display: block;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
  }
}
