.cuenta {
  margin: 0 50px;
  margin-top: 50px;
  height: 75%;

  &__perfil {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img {
      width: 200px;
      height: 200px;
    }
  }

  &__info {
    text-align: center;

    h3 {
      color: #ff6b6b;
      margin-bottom: 10px;
    }
  }
}
