.resetPassword {
  background-color: $Color-Amarillo;
  border-radius: 0 0 150px 150px;
  overflow: hidden;
  height: 100vh;
  padding: 0 25px;

  &__form {
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 992px) {
      height: 100%;
    }

    @media (min-width: 992px) {
      margin-top: 200px;
    }

    h1 {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 30px;

      @media (min-width: 992px) {
        font-size: 87px;
        text-align: center;
      }
    }

    input {
      width: 100%;
      height: 50px;
      padding: 0 43px;
      font-size: 15px;
      border: none;
      border-radius: 50px;
      background-color: white;
      outline: none;
      margin-bottom: 20px;

      @media (min-width: 992px) {
        height: 87px;
        font-size: 20px;
      }

      &::placeholder {
        color: $Color-Azul;
        transition: transform 0.5s ease;
      }

      &:focus {
        transition: ease-in-out 0.1s;
        border: 4px solid $Color-Azul;

        &::placeholder {
          color: $Color-Azul;
          transform: translateX(80%);
        }
      }

      &:not(:focus) {
        border: 2px solid transparent;

        &::placeholder {
          color: $Color-Azul;
          transform: translateX(0%);
        }
      }
    }

    p {
      text-align: start;
      font-size: 14px;
      margin-bottom: 10px;

      @media (min-width: 992px) {
        text-align: center;
        margin-bottom: 25px;
        font-size: 16px;
      }
    }

    &--btnReset {
      width: 200px;
      height: 62px;
      border-radius: 50px;
      background-color: $Color-Azul;
      border: 3px solid $Color-Azul;
      cursor: pointer;
      color: white;
      font-size: 20px;
      font-weight: 800;
      
      margin-top: 10px;

      &:hover {
        transition: ease-in-out 0.3s;
        background-color: $Color-Amarillo;
        color: $Color-Azul;
      }

      @media (min-width: 992px) {
        width: 240px;
        height: 92px;
        margin-top: 30px;
        margin: 0 auto;
      }
    }
  }
}

.volverLogin {
  @media (max-width: 992px) {
    font-size: 14px;
    text-align: start;
  }
}
